.image-arriere {
    background-image: url('../../../assets/img/tombouctou.jpg');
    background-size: cover;
    height: 150vh;
}

.filtre {
    height: 150vh; 
    margin-top: -150vh;
    background: rgba(darkred, 0.8);
}

.titre {
    font-size: 3em;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 5vh;
}
.contact {
    margin-top: 1vh;
    margin-left: 10vw;
    margin-right: 10vw;

    border: 4px solid #fff;
    padding: 8vmin;


    b {
        font-size: 1.4em;
    }

    .sous-titre {
        font-size: 1.4em;
    }
}