<div>
    <div class="image-arriere">

    </div>
    <div class="filtre" style="">

        <div class="page">
            <div class="titre fg-white nyanga">
                Contactez-nous
            </div>
            <div class="contact nyanga fg-white">
                <div>
                    <div>
                        <div class="row">
                            <div class="cell-lg-4">
                                <span class="sous-titre">
                                    Service client
                                </span>
                                <br>
                                Tél : 654159045<br>
                                E-mail : contact@africeveil.com
                            </div>
                            <div class="cell-lg-4">
                                <span class="sous-titre">
                                    Commandes
                                </span>
                                <br>
                                Tél : ‎+237 6 55 70 26 56
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                <div class="cell-lg-6">
                    <input placeholder="Nom complet" data-role="input">
                </div>
                <div class="cell-lg-6">
                    <input data-role="input" placeholder="Adresse mail">
                </div>
                <div class="cell-lg-12">
                    <textarea data-role="textarea" placeholder="Rédigez votre message ici"></textarea>
                </div>
                <div class="cell-lg-12">
                    <button class="button">
                        Envoyer
                    </button>
                </div>
                </div>
            </div>
        </div>

    </div>

</div>