<div>
    <div data-role="carousel" data-cls-bullet="bullet-big" data-auto-start="true"
        data-cls-controls="fg-white" data-bullets-position="right" data-bullets="false" data-height="21/9"
        data-control-next="<span class='mif-chevron-right fg-red'></span>"
        data-control-prev="<span class='mif-chevron-left fg-red'></span>">
        <div class="slide">
            <div class="contenu">

            </div>
            <div class="filtre">
                <div class="fg-white nyanga nouveaute">
                    <div>
                        <span class="muanza-info">
                            Nouveauté :
                        </span>
                        Sortie du prochain livre du Professeur Jean-Emmanuel PONDI en exclusivité sur
                        Afric’éveil
                    </div>
                    <p>
                        Rentrez dans les coulisses de l’écriture, des thématiques abordées, la pensée de l’auteur à
                        travers
                        du contenu exclusif et gratuit(articles, vidéos, live, etc…) pendant toute la période de
                        lancement.
                        <button class="button link fg-red">
                            En savoir plus
                        </button>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>