<div class="">
    <div class="image-arriere">
    </div>
    <div class="filtre">
    </div>
    <div class="page">
        <div class="titre nyanga fg-white">
            A Propos de nous
        </div>
        <div>
            <div class="cadre bd-red nyanga shadow-1">
                La maison d'édition "Éditions Afric'éveil" voit le jour en 2011. Elle naît de l'ambition de diffuser
                par le biais du livre, une vision afrocentrée sur les thématiques africaines majeures.
                <br>
                Dans un contexte où l'histoire et les perspectives du continent Africain tendent à vouloir se
                construire sans un point de vue endogène, il nous a paru impératif de rectifier le tir par la
                diffusion d'une pensée africaine authentique.
                <br>
                De plus, nous pensons que la compréhension du paradigme Africain est un enjeu majeur pour la
                compréhension des dynamiques anthropologiques du monde.
            </div>
        </div>
    </div>
</div>