.image-arriere {
    background-image: url('../../../assets/img/tombouctou.jpg');
    background-size: cover;
    height: 60vh;
}


.filtre { 
    margin-top: -60vh;
    height: 60vh;
    background: rgba(#000, 0.2);
    background: linear-gradient(to bottom, rgba(#000, 0.6), rgba(#000, 0.2));
}

.titre {
    text-transform: uppercase;
    text-align: center;
    margin-top: 10vh;
    font-size: 4.0em;
    font-weight: bold;
}

.cadre {
    border: 6px solid ;
    margin-left: 20vw;
    margin-right: 20vw;
    margin-bottom: 10vh;
    margin-top: 2vh;
    background-color: #fff;
    padding: 5vw;
    padding-top: 5vh;
    padding-bottom: 7vh;
    font-size: 1.5em;

}

.page {
    margin-top: -60vh;
}
